* {
    border: 0px solid red !important;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}

* {
    font-family: 'Lato', sans-serif;
}

h1 {
    font-size: 48px;
    font-weight: 100;
    margin-top: 45px;
    margin-bottom: 5px;
    text-transform: uppercase;
}

h2 {
    margin-top: 10px;
    margin-bottom: 0px;
    font-size: 18px;
}

h3 {
    margin-top: 15px;
    font-size: 30px;
    color: #bcbbbb;
}

h4 {
    color: #747704;
    font-size: 26px;
    margin-left: 5px;
    margin-bottom: 10px; 
}

h1, h2 {
    color: #747704;
    margin-right: 0px;
    padding-right: 0px;
}

h4, h2 {
    font-weight: 400;
}

h1, h2, h4 {
    text-transform: uppercase;
}

a:link {
    font-weight: 300;
    color: #747704;
}

a:visited {
    color: #f8981c;
}

a:hover {
    color: #747704;
    font-weight: 400;
    text-decoration: none;
}

a:active {
    color: #747704;
    text-decoration: underline;
}

body {
    font: 300 'Lato', sans-serif;
    color: #747704;
    margin: 0px;
    padding: 0px;
}

img {
    margin: 0 auto;
}

.seperator {
    border: 1px solid #bcbbbb !important;
    height: 1px;
    margin: 10px;
    margin-left: 0px;
    margin-right: 0px;
}

.banner-image {
    width: 100%;
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
}

.no-bottom-margin {
    margin-bottom: 0px;
}

.no-left-padding {
    padding-left: 0px;
}

.no-right-padding {
    padding-right: 0px;
}

.no-side-margins {
    margin-left: 0px;
    margin-right: 0px;
}

.top-margin-spacer {
    margin-top: 30px;
}